/*homepage styles*/


.clearfix:after{
    content: '';
    display: table;
    clear: both
}

body{
    /* width: 80%; */
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    /* display: inline-block;  */
}

nav{

}

aside{
    position: relative;
}

 main #left{
    width: 25%;
    float: left;
    background: blue;
    position: relative;
} 

 main{
     width: 33%; 
     position: relative;
     float: left;
     text-align: center;
     position: relative;
} 


a{
    color: white;
}


main #right{
    width: 25%;
    float: right;
    background: pink;
}

h1{
    font-size: 50px;
}

h3{
    font-size: 30px;
}




.homepage-bomb{
    position: relative;
}


/*connection to the string*/
.homepage-bomb-top{
    background: radial-gradient(circle at 100px 100px, grey, #4E4D4F);
    border-top-left-radius: 40%;
    /*border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;*/
    border-bottom-right-radius: 100%;

    border-width: 3px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 8%;
    top: 8%;
}


.homepage-bomb-body{
    background: black;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    font-size: 20px;
}

.homepage-bomb-body:hover{
    border-color: red;
    border-width: 4px;
}
.startText{
    /*margin: 0 auto;*/
    color: white;
}

/*uicentric*/
.color{
    background: red;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    position: absolute;
    border-radius: 20%;
    left: 45%;
}
/*doesnt work*/
.color:hover{
    border-width: 5px;
    border-color: black;
}




/*===================================================================*/

/*game styles*/

.gamebox{
    border-color: black;
    border-style: solid;
    border-width: 20px;
    width: 600px;
    height: 600px;
    margin: 0 auto;  
    position: relative;  
    display: block;

    /*https://cssanimation.rocks/spheres*/
    perspective: 1200px;
    perspective-origin: 50% 50%;
    display: inline-block;
}



.player{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    display: block;
    /* top: 40px; */
}
.p1{
    background: red;
    border: red;
    left: 0px;
    /* float: left; */
}
.p2{
    background: blue;
    border: blue;
    left: 560px; 
    /* float: right; */
}


.gameBomb{
    background-color: black;
    border: black;
    border-radius: 50%;
    /* position: absolute; */
    width: 40px;
    height: 40px;
    /* position: inherit; */
    float: left;    
    visibility: hidden; 
    display: inline;
}





/*===================================================================*/



/*3d styles*/
/*used this to make a sphere https://cssanimation.rocks/spheres/*/
.ground{
    /*https://cssanimation.rocks/spheres*/
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    perspective: 1200px;
    perspective-origin: 50% 50%;
}
.sphere{
    background: radial-gradient(circle at 100px 100px, grey, #000);
}

.sphereshadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}







