.clearfix:after{
    content: '';
    display: table;
    clear: both
}

body{
    /* width: 80%; */
    margin: 0 auto;
    position: relative;
    text-align: center;
    /* display: inline-block;  */
}

nav{

}

aside{
    position: relative;
}

 main #left{
    width: 25%;
    float: left;
    background: blue;
} 

 main{
     width: 33%; 
     position: relative;
     float: left;
     text-align: center;
} 


a{
    color: white;
}


main #right{
    width: 25%;
    float: right;
    background: pink;
}

.homepage-bomb-top{
    background: black;
    border-radius: 100%;
    border: 10px solid black;
    width: 20px;
    height: 20px;
}
.homepage-bomb-body{
    background: black;
    border-radius: 100%;
    border: 10px solid black;
    width: 100px;
    height: 100px;
}



.gamebox{
    border-color: black;
    border-style: solid;
    border-width: 20px;
    width: 600px;
    height: 600px;
    margin: 0 auto;  
    position: relative;  
    display: block;

    /*https://cssanimation.rocks/spheres*/
    perspective: 1200px;
    perspective-origin: 50% 50%;
}



.player{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    display: block;
    /* top: 40px; */
}
.p1{
    background: red;
    border: red;
    left: 0px;
    /* float: left; */
}
.p2{
    background: blue;
    border: blue;
    left: 560px; 
    /* float: right; */
}


.bomb{
    background-color: black;
    border: black;
    border-radius: 50%;
    /* position: absolute; */
    width: 40px;
    height: 40px;
    /* position: inherit; */
    float: left;    
    visibility: hidden; 
    display: inline;
}



/*used this to make a sphere https://cssanimation.rocks/spheres/*/
.sphere{
    background: radial-gradient(circle at 100px 100px, grey, #000);
}
.sphere .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}

/*uicentric*/



/* .cell{
    border: 5px dotted black;
    display: inline-block;
    width: 53px;
    height: 53px;
} */