/*homepage styles*/


.clearfix:after{
    content: '';
    display: table;
    clear: both
}

body{
    /* width: 80%; */
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    /* display: inline-block;  */
     /* transform: perspective(800px) rotateX(30deg) translateY(-100px);  */
}

nav{

}

aside{
    position: relative;
}

 main #left{
    width: 25%;
    float: left;
    position: relative;
} 

 main{
     width: 33%; 
     position: relative;
     float: left;
     text-align: center;
     position: relative;
} 


a{
    color: white;
}


main #right{
    width: 25%;
    float: right;
}

h1{
    font-size: 50px;
}

h3{
    font-size: 30px;
}
li{

}



.homepage-bomb{
    /*position: absolute;*/
}



/*Homepage bomb*/

.bomb{
    position: relative;
    top: 150px;
}
.spark{
    width: 10%;
    height: 10%;
}
.triangle{
    position: absolute;
}
.upTriangle{
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 60px solid red;
    top: -40%;
    left: -65%;
    /*animation: sparkUp 10s;*/
}
/*based on https://jsfiddle.net/u663m81s/*/
.fuse{
    height: 33%;
    width: 7%;
    background: transparent;
    border-radius: 0px 0px 0px 370px/225px;
    border: solid 5px grey;
    border-top:none;
    border-right:none;
    margin:20px;
    position: absolute;
    top: -29%;
    animation: burnFuse 10s linear;
}

@keyframes burnFuse{
    0%{
        top: -29%;
        left: 0;
    }
    100%{
        top: 30%;
        left: 10%;
    }
}
@keyframes sparkUp{
    0%{
        width: 0%;
        height: 0%;
    }
    25%{
        width: 10%;
        height: 10%;
    }
    50%{
        width: 0%;
        height: 0%;
    }
    75%{
        width: 10%;
        height: 10%;
    }
    100%{
        width: 0%;
        height: 0%;
    }
}
/*fuse light*/
/*.fuse::before{
    height:20px;
    width: 10px;
    border: 5px solid grey;
    border-radius: 30px 30px 0px 0px /75px 75px 0px 0px ; 
    display: block;
    content: "";
    border-bottom:none;
    position:absolute;
    top: -9px;
    left: -12px;
}*/
/*connection to the string*/
.homepage-bomb-top{
    background: radial-gradient(circle at 100px 100px, grey, #4E4D4F);
    border-top-left-radius: 40%;
    /*border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;*/
    border-bottom-right-radius: 100%;
    border-width: 3px;
    width: 20%;
    height: 20%;
    position: absolute;
    left: 8%;
    top: 8%;
}
.startText{
    /*margin: 0 auto;*/
    color: white;
}
.homepage-bomb-body{
    background: black;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    font-size: 20px;
    position: absolute;
    left: 0;
}
.homepage-bomb-body:hover{
    border-color: red;
    border-width: 4px;
}
.ground{
    /*https://cssanimation.rocks/spheres*/
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    perspective: 1200px;
    perspective-origin: 50% 50%;
}





/*Game Bomb*/
.gameBomb{
    background-color: black;
    border: black;
    border-radius: 50%;
    /* position: absolute;  */
    width: 40px;
    height: 40px;
    /* position: inherit;  */
    float: left;    
    visibility: hidden; 
    display: inline;
    z-index: 1;
}

.game-bomb{
    /* position: inherit;  */
    position: absolute;
    width: 40px;
    height: 40px;
    display: inline;
    float: left;
    /*visibility: hidden;*/
}
.game-spark{
    height: 50px;
    width: 3px;
    position: absolute;
}
.game-triangle{
    position: absolute;
    height: 10px;
    width: 3px;
     top: -55px; 
}
.game-upTriangle{
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid red;
    /*top: -40%;*/
    left: -250%;
    /* animation: game-sparkUp 1s linear; */
    height: 50px;
    width: 5px;
}
/*based on https://jsfiddle.net/u663m81s/*/
.game-fuse{
    height: 10%;
    /* width: 5px; */
    background: transparent;
    border-radius: 0px 0px 0px 370px/225px;
    border: solid 5px grey;
    border-top:none;
    border-right:none;
    /* margin:20px; */
    position: absolute;
    /*top: -29%;*/
    /* animation: game-burnFuse 2s linear; */
}

@keyframes game-burnFuse{
    0%{
         /* top: -25px;  */
        left: 0px;
    }
    100%{
         /* top: -10px;  */
        left: 20px;
    }
}
@keyframes game-sparkUp{
    0%{
        width: 0%;
        height: 0%;
    }
    25%{
        width: 10%;
        height: 10%;
    }
    50%{
        width: 0%;
        height: 0%;
    }
    75%{
        width: 10%;
        height: 10%;
    }
    100%{
        width: 0%;
        height: 0%;
    }
}
@keyframes game-bomb-body-animation{
    0%{
        width: 40px;
        height: 40px;
    }
    33%{
        width: 20px;
        height: 20px;
        background-color: red;
    }
    66%{
        width: 40px;
        height: 40px;
        background-color: grey;
    }
    100%{
        width: 20px;
        height: 20px;
        background-color: red;
    }
}
/*fuse light*/
/*.fuse::before{
    height:20px;
    width: 10px;
    border: 5px solid grey;
    border-radius: 30px 30px 0px 0px /75px 75px 0px 0px ; 
    display: block;
    content: "";
    border-bottom:none;
    position:absolute;
    top: -9px;
    left: -12px;
}*/
/*connection to the string*/
.game-homepage-bomb-top{
    background: radial-gradient(circle at 100px 100px, grey, #4E4D4F);
    border-top-left-radius: 40%;
    /*border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;*/
    border-bottom-right-radius: 100%;
    border-width: 3px;
    width: 20%;
    height: 20%;
    position: absolute;
    left: 8%;
    top: 8%;
}

.game-homepage-bomb-body{
    /* background: black; */
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    animation: game-bomb-body-animation 2s; 
}
.game-homepage-bomb-body:hover{
    border-color: red;
    border-width: 4px;
}
.game-ground{
    /*https://cssanimation.rocks/spheres*/
    width: 40px;
    height: 40px;
    display: inline-block;
    /* margin: 20px; */
    perspective: 1200px;
    perspective-origin: 50% 50%;
}


.explosion{
    position: absolute; 
    width: 40px;
    height: 40px;
    display: inline;
    float: left;
    background: white;
    color: black;
}



.obstacle{
    width: 40px;
    height: 40px;
    position: absolute;
}







/*uicentric*/
.colorSelection{
    width: 30px;
    height: 30px;
    display: grid;
    margin: 0 auto;
    position: absolute;
    border-radius: 20%;
    left: 45%;
}
.blue{
background: blue;
}
.red{
    background: red;
}
.pink{
background: pink;
}
.green{
background: green;
}
.purple{
background: purple;
}

.colorSelection:hover{
    border: 1px solid black;
}




/*===================================================================*/

/*game styles*/

.gamebox{
    border-color: black;
    border-style: solid;
    border-width: 20px;
    width: 600px;
    height: 600px;
    margin: 0 auto;  
    /* position: relative;   */
    display: block;
    /*https://cssanimation.rocks/spheres*/
    perspective: 1200px;
    perspective-origin: 50% 50%;
    /* display: inline-block; */
}



.player{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    display: block;
    /* top: 40px; */
}
.monster{
    color: teal;
    border: teal;
}
.p1{
    background: red;
    border: red;
    left: 0px;
    /* float: left; */
}
.p2{
    background: blue;
    border: blue;
    left: 560px; 
    /* float: right; */
}








/*===================================================================*/



/*3d styles*/
/*used this to make a sphere https://cssanimation.rocks/spheres/*/

.sphere{
    background: radial-gradient(circle at 100px 100px, grey, #000);
}

.sphereshadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}







